<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %>></title>
    <link rel="stylesheet" href="/base.css" />
    <link rel="stylesheet" href="/navbar.css" />
    <link rel="stylesheet" href="/form.css" />
    <link rel="stylesheet" href="/footer.css" />
  </head>
  <body>
    <div class="base-container">
      <%- include('partials/navbar') %>
      <main class="form-main">
        <h1><%= title %></h1>
        <% if (locals.errors) { %>
          <ul class="errors-list">
            <% errors.forEach(error => { %>
              <li>
                <%= error.msg %>
              </li> 
            <% }); %>
          </ul>
        <% } %>
        <form action="/games/<%= game.id %>/update" method="POST" class="form">
          <div>
            <label for="name">Name: </label>
            <input type="text" name="name" id="name" value="<%= game.name %>" required />
          </div>
          <div>
            <label for="description">Description: </label>
            <textarea name="description" id="description" required><%= game.description %></textarea>
          </div>
          <div class="fieldset">
            <fieldset>
              <legend>Genres (update currently not possible): </legend>
              <div class="genres">
                <% genres.forEach(genre => { %>
                  <div>
                    <% if (checkedGenres.some(checkedGenre => checkedGenre.id === genre.id)) { %>
                      <input type="checkbox" name="genre" id="<%= genre.id %>" value="<%= genre.name %>" checked disabled>
                    <% } else { %>
                      <input type="checkbox" name="genre" id="<%= genre.id %>" value="<%= genre.name %>" disabled>
                    <% } %>
                    <label for="<%= genre.id %>"><%= genre.name %></label>
                  </div>
                <% }); %>
              </div>
            </fieldset>
          </div>
          <div>
            <label for="price">Price: </label>
            <input type="number" name="price" id="price" value="<%= game.price %>" required />
          </div>
          <div>
            <label for="rating">Rating: </label>
            <input type="number" name="rating" id="rating" value="<%= game.rating %>" required />
          </div>
          <div>
            <label for="publisher">Publisher: </label>
            <input type="text" name="publisher" id="publisher" value="<%= game.publisher %>" required />
          </div>
          <div>
            <label for="publishDate">Publish date (update currently not possible): </label>
            <input type="date" name="publishDate" id="publishDate" value="<% game.publish_date %>" disabled/>
          </div>
          <div>
            <label for="inStock">Available in stock: </label>
            <input type="number" name="inStock" id="inStock" value="<%= game.in_stock %>" required />
          </div>
          <div>
            <label for="url">Image URL: </label>
            <input type="text" name="url" id="url" value="<%= game.img %>" />
          </div>
          <button type="submit">Update</button>
        </form>
      </main>
      <%- include('partials/footer') %>
    </div>
  </body>
</html>
